*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

def main():
    choice = "Nothing for the moment"
    while(choice != "Quit" and choice != "quit" and choice != "q"):
        choice = raw_input("Would you like to decode or encode? If you'd like "
        "to see my extra credit, type extra: ")

